
<%= form_with(url: session_path, class: "max-w-sm w-full") do |form| %>
  <% if flash[:alert].present? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= flash[:alert] %></h2>
    </div>
  <% end %>
  <section class="mx-auto flex w-full items-center">
    <div class="w-full">
      <%= image_tag 'logo.png', alt: 'WSDC Logo', class: 'w-full mb-6' %>
      <h1 class="text-title text-xl font-semibold"><%= t '.login' %></h1>
      <hr class="my-4 border-dashed" />
      <div class="mb-8 space-y-4" >
        <div class="mt-5">
          <%= form.label :email_address, User.human_attribute_name('email_address') %>
          <%= form.text_field :email_address, class: "block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", required: true %>
        </div>
        <div class="mt-5">
          <%= form.label :password, User.human_attribute_name('password') %>
          <%= form.password_field :password, class: "block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", required: true %>
        </div>
      </div>
      <%= form.button type: :submit, class: "w-full btn" do %>
        <span class="btn-label"><%= t '.login' %></span>
      <% end %>
    </div>
  </section>

<% end %>
