<p style="color: green"><%= notice %></p>
  <%= link_to t('.back_to_participants'), participants_path, class: "block text-right w-full mb-8" %>

<div class="flex flex-col w-full items-stretch lg:flex-row lg:items-start gap-8">
  <%= render @participant %>

  <div class="card variant-mixed lg:grow overflow-y-auto" data-shade="900">
    <h2 class="text-title">
      <%= Lunch.model_name.human(count: 2) %>
    </h2>
    <table class="border-collapse table-auto dark:[--ui-soft-bg:var(--ui-bg)] w-full" data-rounded="medium">
      <thead class="text-title sticky top-0 bg-ui-soft dark:bg-gray-925">
        <tr class="*:font-medium *:text-sm *:p-3 *:text-left">
          <th class="rounded-l-[--card-radius]">
            <%= Lunch.human_attribute_name('delivery_date') %>
          </th>
          <th class="<%=class_names('rounded-r-[--card-radius]': !Current.user.admin?)%>">
            <%= Lunch.human_attribute_name('kind') %></th>
          <% if Current.user.admin? %>
            <th><%= Lunch.human_attribute_name('user') %></th>
          <% end %>
          <% if Current.user.admin? %>
            <th class="rounded-r-[--card-radius]"><%= t '.actions' %></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="text-sm" id='lunches'>
        <% @lunches.each do |lunch, index| %>
          <%= render lunch, participant: true %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

