<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <div class="flex justify-between items-center mb-6 gap-2 flex-wrap">
    <div>
      <h1 class="font-bold text-4xl text-primary-600 mb-2">
        <%= @participant.name %>
      </h1>
      <% if @participant.food_restrictions.any? %>
        <div>
          <% @participant.food_restrictions.each do |restriction| %>
            <span class="<%= class_names(
              'rounded-xl px-2 py-1 ms-1 font-medium ', 
                                'bg-red-600 text-white': restriction.allergy?,
                                'bg-gray-100 text-gray-950': restriction.other?,
                                'bg-blue-100 text-blue-950': restriction.religious?
                              ) %>">
              <%= restriction.name %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to(
          t('helpers.anchors.new', model: Lunch.model_name.human),
          new_participant_lunch_path(@participant.barcode),
          class: "btn"
        ) %>
  </div>

  <%= render @participant, type: :show %>

  <div class="flex gap-2 my-6 justify-end flex-wrap">
    <% if Current.user.admin? %>
      <%= link_to(
            t('helpers.anchors.edit', model: @participant.model_name.human),
            edit_participant_path(@participant.barcode),
            class: "btn alt"
          ) %>
      <%= link_to( 
            t('helpers.anchors.back', model: @participant.model_name.human(count: 2)),
            participants_path,
            class: "btn alt"
          ) %>
    <% end %>
  </div>


  <div class="bg-white shadow-lg border border-gray-50 rounded-md p-6 flex flex-col justify-between overflow-x-auto">
    <h2 class="font-bold text-2xl">
      <%= Lunch.model_name.human(count: 2) %>
    </h2>
    <%= turbo_frame_tag :lunches, lazy: true, src: lunches_path(participant_id: @participant.id) %>

  </div>

</div>

