<%= form_with(model: user, class: "mt-12") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <section class="mx-auto flex w-full max-w-xs items-center">
    <div class="w-full">
      <% unless Current.user.present? %>
        <%= show_svg 'logo', class: 'w-32 block mx-auto' %>
      <% end %>
      <%= yield %>
      <hr class="my-4 border-dashed" />
      <div class="mb-8 space-y-4" data-shade="950">
        <div class="field">
          <%= form.label :name, User.human_attribute_name('name') %>
          <%= form.text_field :name, class: 'input variant-mixed sz-md', required: true %>
        </div>
        <div class="field">
          <%= form.label :email_address, User.human_attribute_name('email_address') %>
          <%= form.text_field :email_address, class: 'input variant-mixed sz-md', required: true %>
        </div>
        <div class="field">
          <%= form.label :password, User.human_attribute_name('password') %>
          <%= form.password_field :password, class: 'input variant-mixed sz-md', required: true %>
        </div>
        <div class="field">
          <%= form.label :locale, User.human_attribute_name('locale') %>
          <%= form.select :locale, User.humanized_locales, class: 'input variant-mixed sz-md appearance-none', required: true %>
        </div>
      </div>
      <%= form.button type: :submit, class: "btn variant-primary sz-md w-full" do %>
        <span class="btn-label"><%= t '.signup' %></span>
      <% end %>
      <div class="mt-12">
        <p class="text-caption text-center text-sm">
          <%= t '.already_have_account' %>
          <%= link_to t('.login'), new_session_path, class: 'link variant-underlined intent-neutral' %>
        </p>
      </div>
    </div>
  </section>

<% end %>
