<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, @users.model_name.human(count: 2) %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl text-primary-600"><%= @users.model_name.human(count: 2) %></h1>
    <%= link_to "New user", new_user_path, class: "btn" %>
  </div>

  <%= turbo_frame_tag :users, class: 'block overflow-x-auto w-full' do %>
    <table class="border-collapse table-auto w-full">
      <thead class="text-title sticky top-0 bg-primary-100 ">
        <tr class="*:font-medium *:text-sm *:p-3 *:text-left *:text-primary-600">
          <th class="rounded-l-md"><%= @users.human_attribute_name('id') %></th>
          <th><%= @users.human_attribute_name('name') %></th>
          <th><%= @users.human_attribute_name('email_address') %></th>
          <th><%= @users.human_attribute_name('admin') %></th>
          <th><%= @users.human_attribute_name('locale') %></th>
          <th class="rounded-r-md"><%= t('actions') %></th>
        </tr>
      </thead>
      <tbody class="text-sm" id='users'>
        <% @users.each do |user| %>
          <%= render user %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  <% end %>
</div>
