<%# locals(participant: true) %>
<tr id="<%= dom_id lunch %>" class="*:p-3 *:border-b">
  <% unless participant %>
    <td><%= lunch.participant_name %></td>
  <% end %>
  <td><%= Lunch.human_attribute_name("kind/#{lunch.kind}") %></td>
  <td><%= l lunch.delivered_at %></td>
  <% if Current.user.admin? %>
    <td><%= lunch.user_name %></td>
    <td><%= button_to t('delete'), lunch, method: :delete, class: 'btn sm alt' %></td>
  <% end %>
</tr>
