<% content_for :title, "Lunches" %>
<div class="w-full">
  <h1 class="font-bold text-4xl text-primary-600 mb-6"><%= Lunch.model_name.human(count: 2) %></h1>

  <%= turbo_stream_from 'lunches' %>

  <%= turbo_frame_tag :lunches, class: 'block overflow-x-auto w-full' do %>
    <table class="border-collapse table-auto w-full">
      <thead class="text-title sticky top-0 bg-primary-100 ">
        <tr class="*:font-medium *:text-sm *:p-3 *:text-left *:text-primary-600">
          <% if params[:participant_id].present? %>
            <th class="rounded-l-md"><%= Lunch.human_attribute_name('kind') %></th>
          <% else %>
            <th class="rounded-l-md"><%= Participant.human_attribute_name('name') %></th>
            <th><%= Lunch.human_attribute_name('kind') %></th>
          <% end %>
          <% if Current.user.admin? %>
            <th><%= Lunch.human_attribute_name('delivered_at') %></th>
            <th><%= Lunch.human_attribute_name('user') %></th>
            <th class="rounded-r-md"><%= t '.actions' %></th>
          <% else %>
            <th class="rounded-r-md">
              <%= Lunch.human_attribute_name('delivered_at') %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody class="text-sm" id='lunches'>
        <% @lunches.each do |lunch, index| %>
          <%= render lunch, participant: params[:participant_id].present? %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @lunches %>
  <% end %>

</div>