<header data-controller="toggler">
  <nav id="navbar" class="group fixed z-20 w-full shadow-md shadow-primary-600/25 bg-white backdrop-blur md:relative top-0">
    <div class="m-auto max-w-5xl px-6">
      <div class="flex flex-col items-stretch justify-between gap-6 py-3 lg:gap-0 lg:py-4">
        <div class="flex w-full justify-between lg:w-auto">
          <%= link_to_unless_current image_tag('logo.png', alt: 'WSDC Logo', class: 'w-32 lg:w-48'), root_path, class: "flex items-center space-x-2 lg:mb-4" do %>
            <%= image_tag 'logo.png', alt: 'WSDC Logo', class: 'w-32 lg:w-48 lg:mb-4' %>
          <% end %>
          <button id="menu-btn" aria-label="open menu" class="relative z-20 -mr-2.5 block cursor-pointer lg:hidden" data-action="toggler#toggle:prevent">
            <%= show_svg 'icons/menu' %>
          </button>
        </div>
        <div data-toggler-target="content" 
             class="mb-6 hidden w-full flex-wrap items-center justify-between group-data-[state=active]:block lg:m-0 lg:flex lg:gap-6 lg:space-y-0 lg:group-data-[state=active]:flex lg:w-full">
          <ul class="space-y-6 text-base lg:flex lg:gap-6 lg:space-y-0 lg:text-sm">
            <%= render 'nav_link', content: t('helpers.titles.search', model: Participant.model_name.human), url: root_path %>

            <% if Current.user.admin? %>
              <%= render 'nav_link', content: Lunch.model_name.human(count: 2), url: lunches_path %>
              <%= render 'nav_link', content: User.model_name.human(count: 2), url: users_path %>
              <%= render 'nav_link', content: FoodRestriction.model_name.human(count: 2), url: food_restrictions_path %>
              <%= render 'nav_link', content: FoodProvider.model_name.human(count: 2), url: food_providers_path %>
              <%= render 'nav_link', content: Participant.model_name.human(count: 2), url: participants_path %>
            <% end %>
          </ul>
          <div class="flex flex-col space-y-3 w-full lg:w-auto mt-6 lg:mt-0">
            <%= button_to session_path, method: :delete, class: 'btn alt sm w-full lg:w-auto' do %>
              <%= t('.logout') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>